/* ---------- PREPROCESSING ---------- */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@700&display=swap&family=Heebo:wght@600&display=swap');

$primary-font: Heebo;
$secondary-font: Handjet;
$fallback-font: sans-serif;
$primary-color: #2F323A;
$secondary-color: #BB4430;

/* ---------- GENERAL STYLING ---------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    padding: 100px;
    font-family: $primary-font, $fallback-font;
}

main {
    height: 400px;
    width: 1000px;
    margin: auto;
    padding: 80px 50px;
    border: $primary-color 8px solid;
    border-radius: 10px;
}

/* ---------- CONTENT SECTION --------- */
.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    .current-timezone {
        display: inline-block;
        font-size: 20px;
        letter-spacing: 2px;
        word-spacing: 5px;
        color: $secondary-color;

        &:hover {
            cursor: pointer;
            color: #8D6346;
            text-decoration: underline;
        }
    }
    .time {
        margin-left: 35px;
        font-family: $secondary-font;
        font-size: 75px;
    }
    .date {
        font-size: 22px;
    }
}

.wrapper {
    max-width: 350px;
    width: 50%;
}   

/* ---------- MODAL SECTION --------- */
.modal-1 {
    display: none;
    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.6);
    }
    &__container {
        min-width: 300px;
        width: 20%;
        padding: 20px;
        border-radius: 10px;
        background: white;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__close-button {
        height: 20px;
        width: 20px;
        &:hover { cursor: pointer }
    }   
    &__submit {
        display: block;
        height: 20px;
        width: 50px;
        margin: 10px auto 0 auto;
        border-radius: 5px;
    }
}

.timezone {
    &-list {
        display: none;
    }
}

.is-open  {
    display: block;
}